
body {
  height: 2000px;
}

.menu-list {
  list-style: none;
  position: relative;
}

.list-item {
  text-transform: uppercase;
  /* position: absolute; */
  justify-content: space-between;
}






.field {
  width: 200px;
  height: 150px;
  border: 3px dotted red;
  background-color: #3a9e3a;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.ball {
  position: absolute;
  left: 0; /* по отношению к ближайшему расположенному предку (поле) */
  top: 0;
  width: 40px;
  height: 40px;
  transition: 0.7s all;
}





